<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="showmsg">
      <p *ngIf="showmsg">
      </p>
      <p style="color:green">posted data successfully</p>
      <p></p>
    </div>
    <mat-card style="margin-top:20px">
      <mat-card-content align="center" style="margin-top:20px">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="username" name="username" placeholder="username" required>

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="lastname" name="lastname" placeholder="lastname" required>

          </mat-form-field><button mat-button (click)="submit()">Button</button>
        </div>
      </mat-card-content>
    </mat-card>
    <div fxLayout="column wrap" style="margin-top:50px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column" style="margint-top:2rem;width:500px;padding:5px;border:1px solid #ccc;border-collapse: collapse;">
        <table mat-table [dataSource]="users" class="table-width-fix">
          <tr mat-header-row *matHeaderRowDef="[&apos;username&apos;,&apos;lastname&apos;]"></tr>
          <tr mat-row *matRowDef="let row; columns: [&apos;username&apos;,&apos;lastname&apos;];"></tr>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>name</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.username}}</td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>lastname</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.lastname}}</td>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>