<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="padding: 10px 0;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
    <div style="font-size: 1em; font-weight: bold;">
      Log</div>
    <mat-slide-toggle [labelPosition]="&apos;before&apos;" style="background=color: grey;" (change)="toggleLogVisibility($event)" checked="true" color="primary" [disabled]="false" [disableDragValue]="false" [disableToggleValue]="false" [disableRipple]="false"> toggle log visibility</mat-slide-toggle>
  </div>
  <div fxLayout="column wrap" style="width: 500px;" fxLayoutGap="5px" fxLayoutAlign="start start" [fxShow]="showLog" [fxHide]="false" componentLabel="Column">
    <div *ngFor="let logObj of logArray; let i = index " [ngStyle]="{&apos;color&apos;: logObj.type === &apos;error&apos; ? &apos;red&apos; : &apos;green&apos;} " style="font-size: 0.8em;  margin-top: 10px;">
      {{&apos; - &apos; + logObj.message}}</div>
  </div>
</div>