<div fxLayout="row wrap" style="height: 100%;" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false" componentLabel="Row">
  <div fxLayout="column wrap" fxLayoutAlign="start none" [fxShow]="true" [fxHide]="false" componentLabel="Column">
    <mat-card componentLabel="Card" *ngIf="showCard" class="weather-card mat-elevation-z0">
      <mat-card-title align="center">{{localStorage.lastCity + &apos; weather summary&apos; | titlecase }}</mat-card-title>

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" componentLabel="Row">
          <div fxLayout="column " class="weathers" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false" componentLabel="Column" *ngFor="let w of weatherdata?.weather; let i = index"><img [src]="&apos;http://openweathermap.org/img/w/&apos; + w.icon + &apos;.png&apos;" componentLabel="Image">
            <p>
              {{w.description}}</p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-content align="center">
        <mat-grid-list rowHeight="50px" cols="2" gutterSize="5px" componentLabel="Grid List">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" componentLabel="Column" *ngFor="let m of weatherdata?.main | keyvalue">
            <mat-grid-tile componentLabel="Grid Tile"><b>{{m.key | titlecase }}</b></mat-grid-tile>
            <mat-grid-tile componentLabel="Grid Tile">{{m.value + (m.key.includes(&apos;temp&apos;) ? &apos;&#xB0;F&apos; : &apos;&apos;)}}</mat-grid-tile>
          </div>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>